<form [formGroup]="registroInscripcionForm" (ngSubmit)="onSubmit()">
<p>Todos los campos son obligatorios</p>   
<mat-form-field matTooltip="Carnet debe iniciar con a o A.
 No debe contener 0. El tercer caracter debe ser 5 y el ultimo caracter puede ser 1,3 o 9" hintLabel="Max 6 caracteres alfanumericos" appearance="fill">

    <mat-label for="carnet">Carnet</mat-label>    
    <input matInput #input maxlength="6" type="text" id="carnet" formControlName="carnet">  
    <mat-hint align="end">{{input.value?.length || 0}}/6</mat-hint>
    
</mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label for="nombre">Nombre completo</mat-label>    
    <input matInput type="text" id="nombre" formControlName="nombre">
 </mat-form-field>     

  <mat-form-field appearance="fill">

    <mat-label for="direccion">Direccion</mat-label>    
    <input matInput type="text" id="direccion" formControlName="direccion">

 </mat-form-field>     


  <mat-form-field hintLabel="Solo 8 digitos" appearance="fill">
    <mat-label for="telefono">Telefono</mat-label>    
    <input matInput #input2 maxlength="8" type="text" id="telefono" formControlName="telefono">
    <mat-hint align="end">{{input2.value?.length || 0}}/8</mat-hint>
 </mat-form-field>     


  <mat-form-field appearance="fill">
    <mat-label for="carrera">Carrera</mat-label>    
    <input matInput type="text" id="carrera" formControlName="carrera">
 </mat-form-field>     


<mat-form-field appearance="fill">
        <mat-label for="genero">Genero</mat-label>    
    <mat-select type="text" id="genero" formControlName="genero">
        <mat-option *ngFor="let genero of generos" [value]="genero">{{genero}}</mat-option>
    </mat-select>
</mat-form-field>

<mat-form-field hintLabel="Formato: DD/MM/YYYY" appearance="fill">
 <mat-label for="fechaNacimiento">Fecha Nacimiento</mat-label>    
    <input matInput type="text" id="fechaNacimiento" formControlName="fechaNacimiento">
</mat-form-field>
   
<mat-form-field appearance="fill">
    <mat-label for="generoPoesia">Genero Poesia</mat-label>    
    <mat-select type="text" id="generoPoesia" formControlName="generoPoesia">
    <mat-option *ngFor="let poesia of generosPoesia" [value]="poesia">{{poesia}}</mat-option>
    </mat-select>
</mat-form-field>
    <input type="submit" [disabled]="!registroInscripcionForm.valid" value="Registrarse">
</form>